#hdr {
	width: auto;
}

#navContainer {
	width: auto;
}

#subHeader {
	width: auto;
}

.container {
	width: auto;
}

.content {
	width: auto;
}

.dataTable {
	width: auto;
}

.innerBox {
	width: auto;
}

#formControls {
	width: auto;
}

#footer {
	width: auto;
}

.panel {
	filter: none;
}


#cssDemo {
	display: none;
}